<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alert</title>

  <!-- Favicon (PNG) -->
  <link rel="icon" href="{{url_for('static', path='img/favicon.png')}}" type="image/png" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{url_for('static', path='css/bootstrap.min.css')}}"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{url_for('static', path='css/style.css')}}" />

  <!-- HTMX JS -->
  <script src="{{url_for('static', path='js/htmx.min.js')}}"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>

  <!-- Plotly JS -->
  <script src="{{url_for('static', path='js/plotly.min.js')}}"
    integrity="sha384-8cEu0XVLh4s92OG4Ua4ZS75MN//b+0KqyCrhQqaXgHMVHnKC3DNVhwUyH5spa1J2"
    crossorigin="anonymous"></script>

  <!-- Custom JS  -->
  <script src="{{url_for('static', path='js/script.js')}}" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Alerts Management</h1>
  <div id="alert-form">{% include 'partials/create_alert.html' %}</div>
  <div id="alerts-list" hx-get="/alerts" hx-trigger="load">
    <!-- Alerts will be loaded here -->
  </div>
  <div id="chart-container" hx-get="/chart" hx-trigger="load, new-alert from:body" hx-swap="innerHTML">
    <!-- Chart will be loaded here -->
  </div>
</body>

</html>